.container {
    text-align: center;
    border: 1px solid var(--color-black);
    padding: 20px;
    color: #0c0c0c;
    background-color: rgb(155, 193, 243);
    border-radius: 5px;
    margin-top: 10px;
}
.container button {
    margin-left: 1rem;
    color: rgb(18, 17, 17);
    margin: 20px;
    background-color:rgb(121, 185, 249);

}
.container img {
    max-width: 100%;
    margin-bottom: 10px;
}

.container h2 {
    margin: 10px 0;
}

.container h3, .container h4 {
    margin: 10px;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.activity {
    color: rgb(17, 17, 17);
    background-color: rgb(76, 164, 236);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    text-align:center;
}

.activity:hover {
    background-color: rgb(85, 128, 215);
    transform: scale(1.05);
}