.container p {
    color: rgba(255, 0, 0, 0.755);
    font-size: 120% !important;
}

.container {
    margin-top: 100px;
    text-align: left;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: rgb(165, 177, 227);
    align-items: flex-start;
    font-size: 120% !important;
}

.container div {
    margin-top: 40px;
}

.container fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.check {
    border: 0.5px solid rgb(14, 14, 14); 
    display:inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: rgb(62, 165, 234);
    color: rgb(15, 15, 15);
}